%% vim: ft=erlang ts=4 sw=4 et
%{cover_enabled, true}.

{erl_opts, [
    {src_dirs, ["src", "priv/schema"]}
]}.

{sub_dirs, ["lib/*"]}.

{deps, [
    {confetti, ".*", {git, "git://github.com/jtendo/confetti", "HEAD"}},
    {epgsql, ".*",   {git, "git://github.com/wg/epgsql.git", "HEAD"}},
    {sqlmig, ".*",   {git, "git://github.com/spawngrid/erlang-sql-migrations.git", "HEAD"}},
    {jiffy, ".*",    {git, "git://github.com/davisp/jiffy.git", "HEAD"}},
    {poolboy, ".*",  {git, "git://github.com/devinus/poolboy.git", "HEAD"}},
    {riakc, ".*",    {git, "git://github.com/basho/riak-erlang-client.git", "HEAD"}},
    {tempo, ".*",    {git, "git://github.com/selectel/tempo.git", "HEAD"}}
%   {yaws, ".*",     {git, "git://github.com/klacke/yaws.git", {tag, "yaws-1.95"}}}
]}.


