%% vim: ft=erlang ts=4 sw=4 et
%{cover_enabled, true}.

{erl_opts, [
    {src_dirs, ["src", "priv/schema"]}
]}.

{sub_dirs, ["lib/*"]}.

{deps, [
    {confetti, ".*", {git, "git://github.com/jtendo/confetti", "HEAD"}},
    {cowboy, ".*",   {git, "git://github.com/extend/cowboy", "HEAD"}},
    {epgsql, ".*",   {git, "git://github.com/wg/epgsql.git", "HEAD"}},
    {erlsha2, ".*",  {git, "git://github.com/vinoski/erlsha2.git", "HEAD"}},
    {jiffy, ".*",    {git, "git://github.com/davisp/jiffy.git", "HEAD"}},
    {poolboy, ".*",  {git, "git://github.com/devinus/poolboy.git", "HEAD"}},
    {tempo, ".*",    {git, "git://github.com/selectel/tempo.git", "HEAD"}}
]}.

