%% vim: ft=erlang ts=4 sw=4 et
{cover_enabled, true}.

{deps, [
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", "HEAD"}},
    {riakpool, ".*", {git, "git://github.com/dweldon/riakpool.git", "HEAD"}},
    {tempo, ".*", {git, "git://github.com/selectel/tempo.git", "HEAD"}},
    {yaws, ".*", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-1.95"}}}
]}.


