<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[[page:title()]]]</title>
  <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
<!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" media="screen" charset="utf-8" /> -->
  <link rel="stylesheet" href="/nitrogen/nitrogen.css" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
[[[page:body()]]]
  <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> -->
  <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
  <script src='/bootstrap/js/bootstrap.min.js'></script>
<script>
[[[script]]]
</script>
</body>
</html>
